<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<div class="form-inline m-auto flex-center input-group">
  <ng-progress [thick]="true" [color]="'#fff'" [ease]="'easeInSine'"></ng-progress>
  <input #searchbar [formControl]="searchField" type="search" class="form-control" placeholder="Enter words here..."
    (focus)="onFocus(searchbar.value)"required>
  <div class="input-group-append">
    <button (click)="btnClick(searchbar.value)" class="btn btn-primary" type="button">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
  <div *ngIf="displayWords">
    <ul class="md-autocomplete" *ngIf="wordList">
      <li *ngFor="let word of wordList.results" (click)="onListClick($event)">
        <a [routerLink]="['/definition', word.id]">
          {{word.word}}
        </a>
      </li>
    </ul>
  </div>
</div>