<div class=" container">
  <ng-progress></ng-progress>
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="mt-5">
        <div class="card card-cascade narrower m-3 z-depth-4">
          <div class="card-body text-center">
            <h4 class="card-title">
             
            </h4>
            <h5>Oxford Dictionary API</h5>
            <p class="card-text">
                The Oxford Dictionaries API allows easy access to our world-renowned dictionary content. Use the live documentation below to try it out, view real responses, and explore a growing number of code samples to help you get started.

                As a registered user, use <a href="https://od-api.oxforddictionaries.com/api/v1"><strong>https://od-api.oxforddictionaries.com/api/v1</strong></a> as base URL for API requests.
                
                Take a look at our FAQ page if you have any questions, or feel free to contact us.
                
                You can explore the API functionality using the REST client Postman. Click below to import a Collection of useful examples to get you started.
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>